<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
     <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
     <div class="container">
         <%- include('header') -%>
          <main>
<a href="/">Home</a> 
 <div class="article-form">
          <h1>New article</h1>
   <form action="/updateArticle/<%= post._id%>" method="post" class="add-new">
    <input type="text" name="title" value="<%= post.title%>"  class="input">
    <textarea name="text"><%= post.text %></textarea>

    <button class="btn">Submit</button>
   </form>
 </div>
          </main>
 <%- include('footer') -%>
     </div>
   
</body>
</html>